html, body, div{
	margin: 0; padding: 0; 	border: 0; 
	vertical-align: baseline;
}
*, :after, :before {
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	padding: 0; 
	margin: 0;
}
button, div, input, select, textarea, :focus, :active {
	outline: none;
}
html, body, .startPage {
	height: 100vh; 
}
body {
	font-size: 16px; 
	line-height: 24px; 
	font-family: 'Roboto', sans-serif; 
	/* color: rgb(248, 213, 15); */
	/* color: rgb(241, 225, 1); */
	color: rgb(255, 251, 5);
	/* color: #356546; */
	/* color: #67926B; */
}
.hideFirstBlock{
    display:  none;
}
.mainStartingBlock{
	width: 100%;
	height: 100%;
    display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
.leftStartsBlock{
	width: 60%;
	padding: 50px 20px 50px 20px; 
	height: 100%;
	display: flex;
	background-color: rgb(0, 0, 0);
	flex-direction: column;
	min-width: 400px;
}
.leftStartsBlock{
	padding: 100px 70px 50px 50px; 
}
h1 {
	font-size: 56px; 
	margin-bottom: 12px;
}
p {
	font-size: 18px; 
	line-height: 30px; 
	text-align: left;
}
.blockImgStartPage{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.formInputDataStartPage{
	width: 350px;
}
.caseFormStartPage{
	border: none;
}
.fieldInput{
	width: 170px;
	height: 35px;
	background-color: rgb(0, 0, 0);
	/* border: 5px solid #8ed3c0; */
	color: aliceblue;
	/* border-radius: 10px; */
	border: none;
	border-bottom: 2px solid rgb(255, 238, 0);
}
.fieldInput:hover {
	border-bottom: 2px solid rgb(0, 255, 234);
}
.blockInputDataStartPage{
	margin-top: 10px;
	display:  flex;
}

.rightStartsBlock {
	padding: 50px 20px 50px 20px; 
	height: 100%;
	display: flex;
	background-color: rgb(0, 0, 0);
	flex-direction: column;
	min-width: 400px;
	width: 40%;
	background: rgb(255, 251, 5);

    /* background: rgb(241, 238, 16); */
    position: relative;
    z-index: 1;
}
.rightStartsBlock:after {
	width: 35%;
	/* background: rgba(131, 150, 175, 0.438); */
    background: inherit;
    bottom: 0;
    content: '';
    display: flex;
    height: 120%;
    left: -85px;
    position: absolute;
    /* right: 80px; */
    transform: skew(-8deg);
    transform-origin: 100%;
    z-index: -1;
}
h3 {
	font-weight: normal; 
	font-size: 36px; 
	line-height: 24px; 
	margin-bottom: 12px;
}
h4 {
	font-weight: normal; 
	font-size: 28px; 
	line-height: 24px; 
	margin-bottom: 12px;
	margin-top: 25px;
}

.button, .closer, .overlay {
	transition: all 0.2s;
}
.button {
	width: 125px;
	height: 40px; 
	display:inline-block; 
	font-size: 15px; 
	/* line-height: 36px;  */
	color: rgb(0, 0, 0); 
	font-family: 'Roboto', sans-serif; 
	/* float: left; */
	/* margin: 0;  */
	/* padding: 0 24px;  */
	text-decoration:none; 
	text-transform:uppercase; 
	text-align:center; 
	-webkit-border-radius: 6px; 
	border-radius: 6px; 
	border:0; 
	/* background: transparent;  */
	cursor: alias;
	border: solid 1px rgb(255, 238, 0); 
	background: rgba(255, 238, 0, 0.986);
}
.button:hover {
	border-color: rgba(92, 86, 0, 0.795); 
	background: rgb(117, 109, 0);
}
.overlay {
	opacity: 0;
	visibility: hidden; 
	position:fixed; 
	left: 0; 
	right: 0; 
	top: 0; 
	bottom: 0; 
	z-index: 110; 
	background: rgba(0,0,0,0.87);
}
.popupBlockStartPage {
	width: 576px; 
	height: 300px; 
	opacity: 0;
	visibility: hidden; 
	text-align: center; 
	position: fixed; 
	left: 50%; 
	top: 180px; 
	z-index: 130; 
	margin-left: -288px; 
	/* padding-top: 47px;  */
	/* padding-bottom: 20px; */
	background: rgb(0, 0, 0); 
	-webkit-border-radius: 6px; 
	border-radius: 6px; 
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.85); 
	box-shadow: 0 0 20px rgba(187, 178, 178, 0.85); 
	filter: alpha(opacity=0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.fadeIn, .fadeOut {
	-webkit-animation-duration: 0.4s; 
	animation-duration: 0.4s; 
	animation-timing-function: ease-out;
}
@keyframes fadeIn {
	from {opacity: 0; visibility: hidden;}
	to {opacity:1; visibility: visible;}
}
.fadeIn {
	-webkit-animation-name: fadeIn; 
	animation-name: fadeIn; 
	opacity: 1; 
	visibility: visible;
}
@keyframes fadeOut {
	from {opacity: 1; visibility: visible;}
	to {opacity:0; visibility: hidden;}
}
.fadeOut {
	-webkit-animation-name: fadeOut; 
	animation-name: fadeOut; 
	opacity: 0; 
	visibility: hidden;
}
.overlay1 {
	opacity: 0;
	visibility: hidden; 
	position:fixed; 
	left: 0; 
	right: 0; 
	top: 0; 
	bottom: 0; 
	z-index: 998; 
	background-size: cover;
	background-image: 
	url(https://248006.selcdn.ru/main/iblock/c71/c71b09b7990e3f37bff523b4fc08b894/37d1dcdbc28710183103432c73278621.png.webp)
	/* url(https://248006.selcdn.ru/main/iblock/86f/86f7e04b891b4315d050a94c47f5490d/9f7e07517ff141a84f3368b12d5b7107.png.webp) */
	/* url(https://umbrellait.com/wp-content/uploads/2017/09/image2-10.jpg) */
	/* url(https://zerotohero.ir/wp-content/uploads/2016/12/javascript-yellow-cover-1.jpg); */
	/* url(https://www.ma-no.org/cache/galleries/contents-1991/960-400/javascript-impjpg.webp); */
	/* url(https://codereviewvideos.com/blog/wp-content/uploads/2017/10/javascript-for-php-developers.jpg); */
	/* url(https://miro.medium.com/max/1200/1*DOfjKmJjWQq68gdZmwukUg.jpeg); */
}
.fadeIn1, .fadeOut1 {
	-webkit-animation-duration: 0.4s; 
	animation-duration: 0.4s; 
	animation-timing-function: ease-out;
}
@keyframes fadeIn1 {
	from {opacity: 0; visibility: hidden;}
	to {opacity:1; visibility: visible;}
}
.fadeIn1 {
	-webkit-animation-name: fadeIn; 
	animation-name: fadeIn; 
	opacity: 1; 
	visibility: visible;
}
@keyframes fadeOut1 {
	from {opacity: 1; visibility: visible;}
	to {opacity:0; visibility: hidden;}
}
.fadeOut1 {
	-webkit-animation-name: fadeOut; 
	animation-name: fadeOut; 
	opacity: 0; 
	visibility: hidden;
}
.thirdPopupBlock{
    display: flex;
	/* background-color: rgb(200, 218, 218); */
	flex-direction: column;
	align-items: center;
	color: rgb(0, 0, 0);
	/* margin: 5px, 5px, 5px, 5px; */
}
header, main, footer{
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: center; */
	width: 100%;
	/* background-color: rgb(255, 251, 5); */
    /* background-color: #F7F71D; */
	/* background-color: #f4da21; */
	/* background-color: #FFFF00; */
	/* background-color: #FFD700; */
	/* background-color: #ffe400; */
}

.qwe1{
	display: block;
	/* background-color: rgb(248, 213, 15); */
	background-color: rgb(255, 255, 255);
	/* background-color: #FFD700; */
	/* background-color: #F7F71D; */
	/* background-color: #ffe400; */
	width: 100%; 
	height: 50px;
	text-align: end;
	color: black;
	padding-right: 10px;
	margin-bottom: 20px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.buttomNavLink{
	height: 30px;
	width: 100px;
	color: black;
}
/* #ff44, #ff33{
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: center; */
	/*  
} */
.hh1{
	font-size: 75px;
	padding-top: 80px;
	padding-left: 30px;
	font-weight: bolder;	
	line-height: 70px;
}
.hh2{
	padding-top: 30px;	
	padding-left: 30px;	
	font-weight: 100;
}
.dde23{
	font-style: italic ;
}
.pp2{
	margin-bottom: 15px;
}
.dder45{
	font-weight: bold;
}
.rounded {
	counter-reset: li; 
	list-style: none; 
	font: 14px "Trebuchet MS", "Lucida Sans";
	padding: 0;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.rounded a {
	position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
	margin: .5em 0;
	background: #DAD2CA;
	color: #444;
	text-decoration: none;
	border-radius: .3em;
	transition: .3s ease-out;
}
.rounded a:hover {
	background: #E9E4E0;
}
.rounded a:hover:before {
	transform: rotate(360deg);
}
.rounded a:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: #8FD4C1;
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: .3em solid white;
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	transition: all .3s ease-out;
}

.tyre{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	border: 2px solid #444 ;
}