button {
    margin:0 auto;
    display: flex;
    background: #c0c0c098;
    border: none;
    border-radius: 6px;
    padding: 10px 25px;
    min-width: 20px;
    text-align: center;
    font-size: 1.1em;
    cursor: none;
}

.aa{
    display:  flex;
    background-color: aqua;
}
.vv{
    display:  none;

}
.bb, .ff{
    display: none;
   
}

.cc{
    display: flex;
    background-color: rebeccapurple;
}

.ee{
    display:  flex;
    background-color: rgb(69, 119, 41);
}